/*
| Includes / imports
*/
/*
| dependencies
*/
/*
| Caclucale rem size
| USAGE: @include font-size(14px)
*/
/*
| Include breakpoints
| USAGE: div { ... @include bp-small {...} ... }
*/
/*
| Include Keyframes
| USAGE: 
| @include keyframes(slide-down) {
|   0% { opacity: 1; }
|   90% { opacity: 0; }
| }
*/
/*
| Include animations
| USAGE: 
| .element {
|   width: 100px;
|   height: 100px;
|   background: black;
|   @include animation('slide-down 5s 3');
| }
*/
/*
| Include transitions
| USAGE: 
| .element {
|   @include transition(color .3s ease);
| }
*/
/*
| Include opacity - cross browser opacity
| USAGE: .faded-text {  @include opacity(0.8);  }
*/
/*
| Include opacity - cross browser opacity
| USAGE: .container-with-floated-children { @extend %clearfix; }
*/
/*
| Include opacity - cross browser opacity
| USAGE: .container-with-floated-children { @extend %clearfix; }
*/
/*============================================================================
  Dependency-free breakpoint mixin
    - Based on http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
    - Usage docs: http://shopify.github.io/Timber/#sass-mixins
==============================================================================*/
/*
| (S)CSS general styles for content and font control
*/
/* line 5, ../scss/_content.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/*
| base css
*/
/*
| (S)CSS general styles and variables 
*/
/* line 5, ../scss/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 10, ../scss/_base.scss */
html, body {
  height: 100%;
}

/* line 16, ../scss/_base.scss */
.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

/* line 21, ../scss/_base.scss */
.no-space {
  padding: 0 !important;
  margin: 0 !important;
}

/* line 26, ../scss/_base.scss */
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/* line 33, ../scss/_base.scss */
.form-group input, .form-group select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/* line 39, ../scss/_base.scss */
.btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/* nanodesk blue*/
/* line 54, ../scss/_base.scss */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Global container */
/* line 64, ../scss/_base.scss */
.site-container {
  position: relative;
  overflow: hidden;
}

/* Global wrapper */
/* line 70, ../scss/_base.scss */
.site-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0px auto;
  max-width: 1030px;
}

/* line 78, ../scss/_base.scss */
.container {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  /* line 78, ../scss/_base.scss */
  .container {
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* line 91, ../scss/_base.scss */
.site-main-holder {
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 91, ../scss/_base.scss */
  .site-main-holder {
    display: table;
  }
}

@media screen and (min-width: 768px) {
  /* line 98, ../scss/_base.scss */
  .site-main__content-holder {
    display: table-cell;
    float: none;
  }
}

/* line 106, ../scss/_base.scss */
.site-main {
  background-color: #f5f5f5;
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 106, ../scss/_base.scss */
  .site-main {
    padding: 30px 0;
  }
}

/* line 116, ../scss/_base.scss */
.site-main__content {
  background-color: #fff;
  height: 100%;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  /* line 116, ../scss/_base.scss */
  .site-main__content {
    padding: 30px;
  }
}

@media screen and (min-width: 769px) {
  /* line 126, ../scss/_base.scss */
  .login-container {
    min-height: 80vh;
    vertical-align: middle;
  }
}

/*
|
|  Modules 
|
*/
/* line 141, ../scss/_base.scss */
.module {
  margin-bottom: 30px;
}

/* line 145, ../scss/_base.scss */
.module-block__header {
  padding: 10px;
  font-weight: 700;
}

/* line 150, ../scss/_base.scss */
.module-block__content {
  padding: 0;
}
@media screen and (min-width: 768px) {
  /* line 150, ../scss/_base.scss */
  .module-block__content {
    padding: 20px;
  }
}

/*
| module default styles
*/
/* line 163, ../scss/_base.scss */
.module--default {
  background-color: white;
  border: 1px solid #dcdfe4;
}
/* line 167, ../scss/_base.scss */
.module--default .module-block__header {
  border-bottom: 1px solid #dcdfe4;
}
/* line 171, ../scss/_base.scss */
.module--default .module-block__content {
  padding: 20px;
}

/* line 180, ../scss/_base.scss */
.panel-default {
  border: 0px !important;
}

/*
|
|  Footer 
|
*/
/* line 197, ../scss/_base.scss */
.footer-content {
  padding: 30px 0;
}

/* line 203, ../scss/_base.scss */
.padding-top-10 {
  padding-top: 10px;
}

/* line 204, ../scss/_base.scss */
.padding-top-20 {
  padding-top: 20px;
}

/* line 205, ../scss/_base.scss */
.padding-top-30 {
  padding-top: 30px;
}

/* line 207, ../scss/_base.scss */
.padding-bottom-10 {
  padding-bottom: 10px;
}

/* line 208, ../scss/_base.scss */
.padding-bottom-20 {
  padding-bottom: 20px;
}

/* line 209, ../scss/_base.scss */
.padding-bottom-30 {
  padding-bottom: 30px;
}

/*
| Aida lists
*/
/* line 217, ../scss/_base.scss */
.aida-list .aida-item {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;
  padding: 15px 0;
}

/* line 228, ../scss/_base.scss */
.aida-controls {
  padding: 15px;
}

/* line 234, ../scss/_base.scss */
.w3loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  /* line 244, ../scss/_base.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 245, ../scss/_base.scss */
  100% {
    transform: rotate(360deg);
  }
}

/*
| Global variables
*/
/* line 15, ../scss/_menu.scss */
.header-main {
  position: relative;
  background-color: #03A9F4;
  height: 60px;
  width: 100%;
  z-index: 1;
}

/* line 24, ../scss/_menu.scss */
.header-main__branding {
  padding: 15px 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
/* line 30, ../scss/_menu.scss */
.header-main__branding a {
  display: block;
  height: 28px;
}

/* line 36, ../scss/_menu.scss */
.nav-main {
  position: relative;
  display: block;
  height: 80px;
  right: 0;
  z-index: 0;
}
/* line 43, ../scss/_menu.scss */
.nav-main ul.nav-main__cta {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
}
/* line 51, ../scss/_menu.scss */
.nav-main ul.nav-main__cta li {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
/* line 58, ../scss/_menu.scss */
.nav-main ul.nav-main__cta li a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: auto;
  display: block;
  padding: 8px 15px;
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  font-weight: 700;
}

/* line 75, ../scss/_menu.scss */
.nav-profile {
  position: relative;
  height: 60px;
  display: inline-block;
  background-color: #0288D1;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 86, ../scss/_menu.scss */
.nav-profile .nav-profile_image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: top;
  background-size: cover;
  background-position: 50% 50%;
}
/* line 102, ../scss/_menu.scss */
.nav-profile .nav-profile_username {
  position: relative;
  overflow: hidden;
  display: inline-block;
  line-height: 64px;
  height: 60px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  letter-spacing: 0.8px;
  width: 120px;
  word-break: break-all;
  text-overflow: ellipsis;
}
/* line 119, ../scss/_menu.scss */
.nav-profile i {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  line-height: 60px;
  font-size: 10px;
  margin-left: 5px;
  color: white;
}
/* line 129, ../scss/_menu.scss */
.nav-profile ul {
  display: none;
  top: 60px;
  left: 0px;
  background-color: #fff;
  width: 100%;
  text-decoration: none;
  list-style: none;
  border: 1px solid #efefef;
  box-shadow: 0px 0px 5px #bbb;
}
/* line 140, ../scss/_menu.scss */
.nav-profile ul li a {
  display: block;
  padding: 12px 12px;
  text-decoration: none;
}
/* line 146, ../scss/_menu.scss */
.nav-profile ul li a:hover {
  background-color: #eaeaea;
}
/* line 156, ../scss/_menu.scss */
.nav-profile:hover ul {
  position: absolute;
  overflow: hidden;
  display: block;
}

/* line 174, ../scss/_menu.scss */
.nav-logged-in {
  display: block;
  position: relative;
  overflow: hidden;
  height: 50px;
}
/* line 182, ../scss/_menu.scss */
.nav-logged-in ul {
  margin: 0;
  padding: 0;
  z-index: 1;
}
/* line 189, ../scss/_menu.scss */
.nav-logged-in ul li {
  display: inline-block;
}
/* line 194, ../scss/_menu.scss */
.nav-logged-in ul li a {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.8px;
  font-size: 15px;
  text-transform: uppercase;
  color: #666;
}
/* line 207, ../scss/_menu.scss */
.nav-logged-in ul li a i {
  margin-right: 8px;
}

/* line 214, ../scss/_menu.scss */
.seperator-top {
  border-top: 1px solid #dedede;
}

/* line 215, ../scss/_menu.scss */
.seperator-bottom {
  border-bottom: 1px solid #dedede;
}

/*
| (S)CSS styles for (a)side (secondary) menu on the main content
*/
/* line 5, ../scss/_aside-menu.scss */
.nav-aside-holder {
  height: 100%;
  background-color: white;
}
@media screen and (min-width: 768px) {
  /* line 5, ../scss/_aside-menu.scss */
  .nav-aside-holder {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #dcdfe4;
    float: none;
  }
}

/* line 17, ../scss/_aside-menu.scss */
.nav-aside-bg {
  position: absolute;
  display: block;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 26, ../scss/_aside-menu.scss */
.nav-aside {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 38, ../scss/_aside-menu.scss */
.nav-secondary ul {
  list-style: none;
}
/* line 42, ../scss/_aside-menu.scss */
.nav-secondary ul li i {
  padding-right: 10px;
}
/* line 46, ../scss/_aside-menu.scss */
.nav-secondary ul li a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  line-height: auto;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #dcdfe4;
  -webkit-transition: 0.3s background-color ease;
  -moz-transition: 0.3s background-color ease;
  -ms-transition: 0.3s background-color ease;
  -o-transition: 0.3s background-color ease;
  transition: 0.3s background-color ease;
  /* hover actions */
}
/* line 53, ../scss/_aside-menu.scss */
.nav-secondary ul li a:hover {
  background-color: #1475b3;
  color: white;
  border-bottom: 1px solid #1475b3;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  -ms-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}
/* line 61, ../scss/_aside-menu.scss */
.nav-secondary ul li a.active {
  display: block;
  background-color: #1475b3;
  color: white;
  padding: 10px;
  border-bottom: 1px solid #1475b3;
}
