/*
| (S)CSS general styles and variables 
*/

*{
	padding:0;
	margin:0;
}

html, body{
  height:100%;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
}

.no-space{
	padding:0 !important;
	margin:0 !important;
}

.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}


.form-group{
	input, select {
		@include border-radius(0px);
	}
}


.btn{
	@include border-radius(0px);
}


$font-stack: 'Lato', Helvetica, Arial, sans-serif;

$nd_blue:#1475B3; /* nanodesk blue*/

$lg_gutter: 30px;
$md_gutter: 20px;
$sm_gutter:	10px;

$border-color:#dcdfe4;

body{
	font-family: $font-stack;
	font-size:1em;
}




/* Global container */
.site-container{
	position: relative;
	overflow: hidden;
}

/* Global wrapper */
.site-wrapper{
	position: relative;
	overflow: hidden;
	display: block;
	margin:0px auto;
	max-width:1030px;
}

.container{

	padding:0;
	margin:0;

	@include at-query($min, $medium){
		padding:0 15px;	
		margin:0 auto;
	}	
}



.site-main-holder{
	width: 100%;
	@include at-query($min, $medium){
		display:table;
	}
}

.site-main__content-holder{
	@include at-query($min, $medium){
		display:table-cell;
		float: none;
	}
}


.site-main{
	background-color:#f5f5f5;
	padding:0;

	@include at-query($min, $medium){
		padding:$lg_gutter 0;
	}
	
}

.site-main__content{
	background-color:#fff;
	height:100%;
	padding:$sm_gutter;

	@include at-query($min, $medium){
		padding:$lg_gutter;
	}
	

}

/*
|
|  Modules 
|
*/
.module{
	margin-bottom:$lg_gutter;
}

.module-block__header{
	padding:$sm_gutter;	
	font-weight:700;
}

.module-block__content{
	padding:0;

	@include at-query($min, $medium){
		padding:$md_gutter;	
	}
	
}

/*
| module default styles
*/

.module--default {
background-color:white;
border:1px solid $border-color;

	.module-block__header{
		border-bottom:1px solid $border-color;
	}

	.module-block__content{
		padding:$md_gutter;	
	}
}




/*
|
|  Footer 
|
*/


.footer-main{
	border-top:1px solid #dcdfe4;

}

.footer-content{
	padding:$lg_gutter 0;
}



/*
| Aida lists
*/
.aida-list{

	.aida-item{
		position:relative;
		overflow:hidden;
		border-top:1px solid #e1e1e1;
		background-color:#f1f1f1;
		padding:15px 0;
	}


}

.aida-controls{
	padding:15px;
}