Options +FollowSymLinks
#RewriteBase /github/nanodesk/


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^.*\.(css|jpe?g|gif|png|js|ico)$ [NC]
RewriteRule ^(.*)$ index.php?p=$1 [QSA]



#
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f








#Options +FollowSymLinks -MultiViews
#RewriteEngine On



#RewriteBase /github/nanodesk/
#RewriteRule ^index/([0-9a-zA-Z_-]+) index.php?p=$1 [NC,L]

#RewriteBase /wordpress/
#RewriteRule ^index\.php$ - [L]


#RewriteBase /boekendeals2016/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php/$1 [L] 



